h1 {
  font-size: 24px;
}

.banner {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  width: 100%;
  margin: 20px auto 10px auto;
  overflow: hidden;
  height: 95px;
}

.welcome {
  text-align: center;
  float: left;
}

.welcome-list {

  margin: 12px;
}

.welcome-list ul {
  position: relative;
  float: right;
  column-count: 3;
  column-gap: 60px;
  list-style-type: none;
}
 .row {
   margin: 0 auto;

 }
.col-md-7 {
  background-color: #f5fffa;
  border: 1px solid #cef2e0;

}

.feature-green h2 {
  background-color: #cef2e0;
  border: 1px solid #a3bfb1;
  margin: 7px;
  font-size: 18px;
  padding: 6px;
}

.feature-green p {
  margin: 7px;
}

.col-md-5 {
  background-color: #f5faff;
  border: 1px solid #cedff2;
}

.feature-blue h2 {
  background-color: #cedff2;
  border: 1px solid #a3b0bf;
  margin: 7px;
  font-size: 18px;
  padding: 6px;
}

.sidebar {
  float: left;
  width: 100px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 20px;
}
